<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>guess_letters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>parity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>peue3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C460E121BCFFF6800FF279C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C460E201BD00C2C00FF279C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C460E2B1BD0131B00FF279C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C460E361BD0200D00FF279C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
