<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>degrees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>extra1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>peue1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>plz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C3614C51BBD8B700075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3614D61BBD90290075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3614E11BBD90960075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3614EC1BBD92AD0075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3614F71BBD96510075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3615021BBDA2780075BB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
