<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>divisible.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>leapyear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>min.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>peue2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>stars.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>stars2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CC9477D1BC6C4F500617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC9478B1BC6C8D000617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC947961BC6CBE900617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC947A11BC6CE3F00617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC947AC1BC6D1A300617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC947B71BC6D50800617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CC947C21BC6D86A00617B30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
